.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.mini-chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: #f0f0f0;
}

.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #1B5EAC;
  padding: 5px 30px;
  /* border-bottom: 1px solid #ccc; */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  position: sticky;
  font-size: 27px;
  padding: 10px 0;
  color: #fff;
  top: 0;
}


.loading {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.messages-container {
  width: 100%;
  max-width: 600px;
  height: 100vh;
  background-color: #fff;
  
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  overflow-y: auto;
  /* padding: 1em; */
 
}

.message {
  margin-bottom: 1em;
  
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
}

.cont-a-h {
  display: flex;
  justify-content: space-between;
}

.ip-avatar {
  font-size: 0.85em;
  color: #777;
}

.message-time {
  font-size: 0.75em;
  color: #777;
}

.text {
  margin-top: 0.5em;
  /* background: red; */
  word-wrap: break-word;
}

.container-send {
  display: flex;
  align-items: center;
  width: 100%;
  background: rgb(255, 255, 255);
  max-width: 600px;
  height: 60px;
}

.container-send input {
  flex: 1;
  padding: 0.5em;
  border: 1px solid #ccc;
  height: 100%;
  border-radius: 30px;
  
}

.container-send button {
  background-color: #1B5EAC;
  color: white;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  padding: 0.5em 1em;
  cursor: pointer;
}

.container-send button:hover {
  background-color: #1f66b7;
}

